:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

column {
  padding: 0 12px;
}

column:first-of-type {
  background-color: plum
}

column:last-of-type {
  background-color: goldenrod
}